*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --background-color: #ffffff;
}
#canvas {
  display: flex;
  flex-wrap: wrap;
}
#settings div{
  display: flex;
  flex-direction: column;
}

#gridContainer {
  width: 70vw;
  height: 70vw;
  background-color: rgb(0, 71, 157);
  padding: 20px;
  margin: 10px;
  display: grid;

}

#gridContainer div {
 
  background-color: var(--background-color);
  border: 1px solid blue;
 
}
